pom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://maven.apache.org/POM/4.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="project" type="ns:projectType" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="xs:string" name="project.build.sourceEncoding"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dependencyType">
    <xs:sequence>
      <xs:element name="groupId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="junit"/>
            <xs:enumeration value="org.springframework"/>
            <xs:enumeration value="aopalliance"/>
            <xs:enumeration value="org.aspectj"/>
            <xs:enumeration value="org.mybatis"/>
            <xs:enumeration value="mysql"/>
            <xs:enumeration value="com.mchange"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="artifactId"/>
      <xs:element name="version">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="4.11"/>
            <xs:enumeration value="4.3.21.RELEASE"/>
            <xs:enumeration value="1.0"/>
            <xs:enumeration value="1.9.2"/>
            <xs:enumeration value="3.5.0"/>
            <xs:enumeration value="1.3.2"/>
            <xs:enumeration value="5.1.6"/>
            <xs:enumeration value="0.9.5.2"/>
            <xs:enumeration value="4.12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="scope" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dependenciesType">
    <xs:sequence>
      <xs:element type="ns:dependencyType" name="dependency" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://maven.apache.org/POM/4.0.0">
        <xs:annotation>
          <xs:documentation>aop4个核心aop联盟aspectOXM事物jdbc测试mybatismybatis整合springmysqlc3p0</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pluginType">
    <xs:sequence>
      <xs:element name="artifactId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="maven-clean-plugin"/>
            <xs:enumeration value="maven-resources-plugin"/>
            <xs:enumeration value="maven-compiler-plugin"/>
            <xs:enumeration value="maven-surefire-plugin"/>
            <xs:enumeration value="maven-jar-plugin"/>
            <xs:enumeration value="maven-install-plugin"/>
            <xs:enumeration value="maven-deploy-plugin"/>
            <xs:enumeration value="maven-site-plugin"/>
            <xs:enumeration value="maven-project-info-reports-plugin"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="version">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="3.1.0"/>
            <xs:enumeration value="3.0.2"/>
            <xs:enumeration value="3.8.0"/>
            <xs:enumeration value="2.22.1"/>
            <xs:enumeration value="2.5.2"/>
            <xs:enumeration value="2.8.2"/>
            <xs:enumeration value="3.7.1"/>
            <xs:enumeration value="3.0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pluginsType">
    <xs:sequence>
      <xs:element type="ns:pluginType" name="plugin" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://maven.apache.org/POM/4.0.0">
        <xs:annotation>
          <xs:documentation>clean lifecycle, see https://maven.apache.org/ref/current/maven-core/lifecycles.html#clean_Lifecycle  default lifecycle, jar packaging: see https://maven.apache.org/ref/current/maven-core/default-bindings.html#Plugin_bindings_for_jar_packaging  site lifecycle, see https://maven.apache.org/ref/current/maven-core/lifecycles.html#site_Lifecycle</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pluginManagementType">
    <xs:sequence>
      <xs:element type="ns:pluginsType" name="plugins" xmlns:ns="http://maven.apache.org/POM/4.0.0">
        <xs:annotation>
          <xs:documentation>lock down plugins versions to avoid using Maven defaults (may be moved to parent pom)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buildType">
    <xs:sequence>
      <xs:element type="ns:pluginManagementType" name="pluginManagement" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="projectType">
    <xs:sequence>
      <xs:element type="xs:string" name="modelVersion"/>
      <xs:element type="xs:string" name="groupId"/>
      <xs:element type="xs:string" name="artifactId"/>
      <xs:element type="xs:string" name="version"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="url">
        <xs:annotation>
          <xs:documentation>FIXME change it to the project's website</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="ns:propertiesType" name="properties" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:dependenciesType" name="dependencies" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:buildType" name="build" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>